<div class="container">
  <nz-select class="lang-select" [(ngModel)]="lang" (ngModelChange)="changeLang($event)">
    <nz-option nzValue="uz" nzLabel="UZ"></nz-option>
    <nz-option nzValue="ru" nzLabel="RU"></nz-option>
    <nz-option nzValue="en" nzLabel="EN"></nz-option>
  </nz-select>
  <nz-card class="card">
    <h1>{{ "Login" | translate }}</h1>
    <form
      nz-form
      [formGroup]="loginForm"
      class="login-form"
      (ngSubmit)="submitForm()"
    >
      <nz-form-item>
        <nz-form-control
          [nzErrorTip]="'Please input your username!' | translate"
        >
          <nz-input-group nzPrefixIcon="user">
            <input
              type="text"
              nz-input
              formControlName="username"
              [placeholder]="'Username' | translate"
            />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control
          [nzErrorTip]="'Please input your password!' | translate"
        >
          <nz-input-group nzPrefixIcon="lock">
            <input
              type="password"
              nz-input
              formControlName="password"
              [placeholder]="'Password' | translate"
            />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <div nz-row>
        <div nz-col [nzSpan]="24">
          <label nz-checkbox formControlName="remember">
            <span>{{ "Remember me" | translate }}</span>
          </label>
        </div>
      </div>
      <button nz-button class="login-form-button" [nzType]="'primary'">
        {{ "Log in" | translate }}
      </button>
      {{ "or" | translate }}
      <a (click)="navigateToRegister()">{{ "register now!" | translate }}</a>
    </form>
  </nz-card>
</div>
